/* IMPOSTAZIONI GENERALI */
html {
  font-size: 62.5%;
}
body {
  font-family: Poppins, "Helvetica Neue", sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  padding: 15px;
  background-image: url("../img/sfondo.png");
  background-position: center center;
}
* {
  box-sizing: border-box;
}
hr {
  display: none;
} /* rimuove l'elemento */

/* HEADER */
header {
  background: rgb(0, 160, 198);
  background: linear-gradient(
    180deg,
    rgba(0, 160, 198, 1) 0%,
    rgba(3, 109, 134, 1) 68%
  );
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  box-shadow: 0 3px 3px #444;
  margin-bottom: 1.5em;
  padding: 2em 1.5em;
}
header div img {
  margin-bottom: 20px;
}
header nav ul {
  margin: 0;
}
header nav li {
  list-style: none;
}
header nav li a {
  color: white;
  text-decoration: none;
}
header nav li a:hover {
  color: red;
}
header nav li a::before {
  content: "\22c6\0020";
}

/* MAIN */
main {
  background-color: #fff;
  box-shadow: 0 3px 3px #444;
  padding: 2em 1em;
  margin-bottom: 1.5em;
}
section {
  background-color: #e3e3e3;
  padding: 1em;
  margin-bottom: 2em;
}
section h2 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1em;
}

/* ELEMENTI NEL MAIN - ARTICLE */
h1 {
  font-size: 2.6rem;
  font-weight: bold;
  letter-spacing: -0.03em;
  margin-bottom: 0.7em;
}
p,
address,
ul,
ol,
dl,
blockquote {
  margin-bottom: 1.2em;
}
h1 + p {
  color: #a0a0a0;
}
ul,
ol {
  margin-left: 2em;
}
a {
  color: #00a0c6;
  font-weight: bold;
}
strong {
  color: #a02571;
  font-weight: bold;
}
code {
  background-color: #e3e3e3;
  border: 1px solid #969494;
  border-radius: 5px;
}
iframe {
  width: 100%;
  height: auto;
  margin-bottom: 2em;
  border-radius: 20px;
}

/* TABELLE */
table {
  margin-bottom: 2em;
}
caption {
  font-weight: bold;
  font-style: italic;
}
thead tr {
  background-color: #3f6bca;
  color: #ffffff;
}
th,
td {
  padding: 12px 15px;
  vertical-align: bottom;
  text-align: center;
}
tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #3f6bca;
}

/* FORM */
input {
  padding: 5px;
  border: 0;
  border-bottom: 1px dashed #333;
}
button {
  padding: 4px 7px;
  background-color: #3f6bca;
  border: 0;
  color: white;
  font-weight: bold;
}

/* ELEMENTI NELL' ASIDE */
aside h2 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1em;
}
aside div {
  background-color: #e3e3e3;
  border: 1px solid #c3c3c3;
  margin-bottom: 1em;
  padding: 1em;
}
aside div p:last-child {
  margin-bottom: 0;
  font-size: 0.8em;
  text-align: right;
}

/* FOOTER */
footer {
  background: rgb(53, 53, 53);
  background: linear-gradient(
    0deg,
    rgba(53, 53, 53, 1) 0%,
    rgba(5, 85, 103, 1) 68%
  );
  box-shadow: 0 3px 3px #444;
  color: #f0f0f0;
  padding: 1em;
  text-align: center;
  font-size: 1.2rem;
}
footer a {
  color: fuchsia;
}

/* Esercizi da qui */
@media screen and (min-width: 320px) {
  header nav li {
    display: inline;
  }
  header nav li a::before {
    content: "\22c6\0020";
    display: inline;
    word-spacing: 1px;
  }
}

@media screen and (min-width: 320px) {
  main article p {
    font-size: 1.15rem;
  }
}
@media screen and (min-width: 320px) {
  main article ul li,
  main article ol li {
    font-size: 1.07rem;
  }
}

@media screen and (min-width: 320px) {
  .badge {
    width: 54px;
    height: 54px;
    border: solid 2px rgb(223, 30, 223);
  }
}

@media screen and (min-width: 320px) {
  .badge img {
    border: solid 3px rgb(23, 163, 168);
    width: 50px;
    height: 50px;
    align-items: center;
    padding: 1px;
  }
}

@media screen and (min-width: 320px) {
  main article section h2 {
    background-color: rgb(184, 179, 179);
  }
}
/* 576 px smartphone */

@media screen and (min-width: 576px) {
  main article p {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 576px) {
  main article ul li,
  main article ol li {
    font-size: 1.55rem;
  }
}

@media screen and (min-width: 576px) {
  .badge {
    width: 77px;
    height: 77px;
    border: solid 4.5px rgb(223, 30, 223);
  }
}

@media screen and (min-width: 576px) {
  .badge img {
    border: solid 4.5px rgb(23, 163, 168);
    width: 70px;
    height: 70px;
    align-items: center;
    padding: 2;
  }
}

@media screen and (min-width: 576px) {
  main article section h2 {
    background-color: rgb(184, 179, 179);
  }
}
@media screen and (min-width: 576px) {
  table {
    width: 86%;
    font-weight: bold;
  }
}

@media screen and (min-width: 576px) {
  footer p,
  footer address {
    font-size: 2.1rem;
  }
}
@media screen and (min-width: 576px) {
  main article h1 {
    font-size: 5rem;
  }
}

/* tablet 768px */

@media screen and (min-width: 768px) {
  main article p {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 768px) {
  main article ul li,
  main article ol li {
    font-size: 1.55rem;
  }
}

@media screen and (min-width: 768px) {
  .badge {
    width: 77px;
    height: 77px;
    border: solid 4.5px rgb(223, 30, 223);
  }
}

@media screen and (min-width: 768px) {
  .badge img {
    border: solid 4.5px rgb(23, 163, 168);
    width: 70px;
    height: 70px;
    align-items: center;
    padding: 2;
  }
}

@media screen and (min-width: 768px) {
  main article section h2 {
    background-color: rgb(184, 179, 179);
  }
}
@media screen and (min-width: 768px) {
  table { margin: auto;
  
    padding-top: 100px;
    font-weight: bold;
  }
}

@media screen and (min-width: 768px) {
  footer p,
  footer address {
    font-size: 2.1rem;
  }
}
@media screen and (min-width: 768px) {
  main article h1 {
    font-size: 7rem;
  }
}
@media screen and (min-width: 768px) {
    main article table p { padding:100px;}
}
    
/* pc 1200px */

@media screen and (min-width:1200px) {
    header { 
        text-align: left;
       }
}

@media screen and (min-width:1200px)
{ header div p { display: inline-block;
vertical-align: middle;}}

@media screen and (min-width: 1200px) {
    header nav {position: relative;
        left:80%;
        top:50%;
        vertical-align: top;
        
    }
    
}
@media screen and (min-width: 1200px) {
    iframe{ width:50%; display: inline-block; vertical-align: bottom;}
}

@media screen and (min-width: 1200px) {
    main section { width:50%; vertical-align: bottom;
   position: relative; top:55%; float: right;}
}

/*stampa*/ 
@media print {
   main article section, footer, iframe, aside,header {display: none;}
}
